nav {
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.336);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  font-weight: 700;
  /* background-color: #0f0f0f; */
}
.nav-link {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;

  
}


button {
  outline: none;
  border: none;
}

body {
  margin: 0px;
  padding: 0px;

  font-family: "Montserrat", sans-serif;
  background-color: #000000;
}
