.results {
  z-index: 3;
  position: absolute;
  background-color: hsla(0, 0%, 97%, 0.486);
  color: hotpink;
  margin: auto;
  text-align: center;
  position: absolute;
  /* width: 90%; */
  margin: auto;
  max-height: 10rem;
  overflow: auto;
  background-color: white;
  text-align: center;
  z-index: 10;
}

li {
  color: black;
}
