* {
  direction: ltr;
  text-align: center;
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}
.form h1 {
  color: black;
  background-color: white;
}

small {
  font-size: 0.75rem;
}
.form-check-label {
  margin-right: 1rem;
}
.form-check-input {
  position: initial;
  margin-top: 0rem;
}
/* li {
  margin-right: 10rem;
} */
.col {
  margin-right: 0rem;
}
body {
  background-color: #f7f7f7;
}

input,
button {
  /* appearance: none; */
  background: none;
  border: none;
  outline: none;
}

form {
  display: block;
  position: relative;
  width: 55%;
  margin: 7% 20%;
  height: 20vh;
}
form::after {
  /* content: ""; */
  display: block;
  position: absolute;
  top: -0.25vw;
  left: -0.25vw;
  right: -0.25vw;
  bottom: -0.25vw;
  z-index: 1;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, #ffce00, #fe4880);
}
form .form-inner {
  position: relative;
  display: block;
  background-color: #b8a46367;
  padding: 1%;
  border-radius: 1%;
  z-index: 2;
  border: rgba(128, 128, 128, 0.089) 2px solid;
}
form .form-inner h2 {
  color: #888;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1%;
}
form .form-inner .form-group {
  display: block;
  width: 30%;
  margin-bottom: 15px;
  width: 100%;
}
.form-inner .form-group label {
  width: 10rem;
  display: block;
  color: #000;
  font-size: 1.1rem;
  margin-bottom: 0.3%;
  transition: 0.5s;
  text-align: left;
}

form .form-inner .form-group input {
  display: block;
  padding: 1% 1.5%;
  background-color: #fff;
  border-radius: 10px;
  transition: 0.5s;
}
form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
form button[type="submit"] {
  display: block;
  width: auto;
  margin: auto;
  /* border-radius: 10px; */
  background-image: linear-gradient(
    to right,
    #ff9e0d 50%,
    #ffcb00 50%,
    #fe4880
  );
  border-color: inherit;
  background-size: 200%;
  background-position: 0%;
  transition: 0.5s;
  font-weight: 700;
  cursor: pointer;
  border-color: inherit;
  text-align: center;

  margin: auto;
}

form button[type="submit"]:hover {
  background-position: 100% 0%;
}
.form-login {
  width: 80vw;
  margin: 20% 15%;
}
@media only screen and (max-width: 700px) {
  form {
    width: 90%;
    margin: 5% 5%;
  }
  .form-login {
    width: 80vw;
    margin: 20% 15%;
  }
}
.input-width {
  width: 85%;
}
@media only screen and (min-width: 500px) {
  .form-login {
    width: 40%;
    margin: 10% 30%;
  }
}
.row-guide {
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
.new-ing {
  display: block;
  margin: 1rem auto;
  width: 100%;
}

.new-ing.btn.btn-primary {
  background-color: green;
  margin: auto;
}
.save-btn {
  align-self: center;
}
.col {
  align-self: flex-end;
}
.instruction div {
  border: 1px solid black;
  padding: 1rem auto;
}
